<!DOCTYPE html>
<html>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href={{url_for('static', filename='style.css')}} type="text/css">

<head>
    <title>Catalog</title>
</head>

<body>
    <h1>Book Swap</h1>

    <h2>CATEGORIES</h2>
    {% for category in categories %}
    <li>{{category.name}}</li>
    <!--displays the database(the name of every category)-->
    {% endfor %}

    <h2>Books</h2>
    {% for book in books %}
    <li>{{book.name}}</li>
    <!--displays the database(the name of every category)-->
    {% endfor %}

    <ul>

    </ul>

    <h2>Latest Edition in Genre</h2>
    <ul>
        <li>Fiction</li>
    </ul>



</body>



</html>